{% extends "base.html" %}

{% block body %}
  <div class="container">

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">

  <h1>Welcome to MT Server Land!</h1>
  <h3>An open-source multi-server MT architecture</h3>

  <p>This service allows users and external applications to make use of DFKI's machine translation (MT) technology to translate text between various languages. Think of it as a research version of similar services such as <a href="http://translate.google.com/">Google Translate</a> or <a href="http://www.microsofttranslator.com/">Microsoft Translator</a>...</p>

  {% if user.is_authenticated %}
  <p>You are logged in as <b>{{ user.username }}</b>. You can <a href="{{PREFIX}}/dashboard/">access your dashboard</a> or logout by <a href="{{PREFIX}}/logout/">clicking here</a>.</p>
  {% else %}
  <p><a class="btn btn-primary btn-large" href="{{PREFIX}}/dashboard/">Access your translation dashboard &raquo;</a></p>
  {% endif %}
          
  </div>
{% endblock %}