{% extends "base.html" %}

{% block head %}
<script type="text/javascript">

function confirm_delete(name, url) {
  check = confirm('Really delete "' + name + '"?');
  if (check) {
    location.href = url;
  }
}

</script>
{% endblock %}

{% block body %}
<div id="summary">
  <h1>{{ user.username }}'s Dashboard</h1>
  <h2>Create, view, and manage your translation requests...</h2>
</div>

{% if messages %}
<div id="messages">
  <ul class="messages">
  {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
  </ul>
</div>
{% endif %}

<div id="instructions">
  <img src="{{PREFIX}}/site_media/dashboard.png" style="float: right; padding-right: 20px;" />
  
  <h2>User actions</h2>
  <p>You are logged in as <b>{{ user.username }}</b>. You can create a <a href="{{PREFIX}}/dashboard/create/">new translation request</a> or logout by <a href="{{PREFIX}}/logout/">clicking here</a>.</p>
  <br/>
  
  <h2>Finished translation requests</h2>
  {% if finished_requests %}
  <table class="dashboard">
  <thead>
  <tr>
  <th class="shortname">Description</th>
  <th class="created">Created</th>
  <th class="actions">Actions</th>
  </tr>
  </thead>
  <tbody>
  {% for request in finished_requests %}
  <tr>
  <td>{{ request.shortname }}</td>
  <td>{{ request.created|date:"Y/m/d" }}</td>
  <td>
    <a href="javascript:confirm_delete('{{request.shortname|escapejs}}', '{{PREFIX}}/dashboard/delete/{{request.request_id}}/');"><img src="{{PREFIX}}/site_media/delete_small.png" class="actions" alt="Delete?" /></a>
    <a href="{{PREFIX}}/dashboard/result/{{request.request_id}}/"><img src="{{PREFIX}}/site_media/search_small.png" class="actions" alt="View" /></a>
    <a href="{{PREFIX}}/dashboard/download/{{request.request_id}}/"><img src="{{PREFIX}}/site_media/download_small.png" class="actions" alt="Download" /></a>
  </td>
  </tr>
  {% endfor %}
  </tbody>
  </table>
  {% else %}
  <p>There are no finished translation requests at the moment.</p>
  {% endif %}
  <br/>

  <h2>Active translation requests</h2>
  {% if active_requests %}
  <table class="dashboard">
  <thead>
  <tr>
  <th class="shortname">Description</th>
  <th class="created">Created</th>
  <th class="actions">Actions</th>
  </tr>
  </thead>
  <tbody>
  {% for request in active_requests %}
  <tr>
  <td>{{ request.shortname }}</td>
  <td>{{ request.created|date:"Y/m/d" }}</td>
  <td>
    <a href="javascript:confirm_delete('{{request.shortname|escapejs}}', '{{PREFIX}}/dashboard/delete/{{request.request_id}}/');"><img src="{{PREFIX}}/site_media/delete_small.png" class="actions" alt="Delete?" /></a>
  </td>
  </tr>
  {% endfor %}
  </tbody>
  </table>
  {% else %}
  <p>There are no active translation requests at the moment.</p>
  {% endif %}
  <br/>

  <h2>Invalid translation requests</h2>
  {% if invalid_requests %}
  <table class="dashboard">
  <thead>
  <tr>
  <th class="shortname">Description</th>
  <th class="created">Created</th>
  <th class="actions">Actions</th>
  </tr>
  </thead>
  </tbody>
  {% for request in invalid_requests %}
  <tr>
  <td>{{ request.shortname }}</td>
  <td>{{ request.created|date:"Y/m/d" }}</td>
  <td><a href="javascript:confirm_delete('{{request.shortname|escapejs}}', '{{PREFIX}}/dashboard/delete/{{request.request_id}}/');"><img src="{{PREFIX}}/site_media/delete_small.png" class="actions" /></a>
  </td>
  </tr>
  {% endfor %}
  </tbody>
  </table>
  {% else %}
  <p>There are no invalid translation requests at the moment.</p>
  {% endif %}
  <br/><br/><br/><br/><br/>
</div>

<div id="explanation">
  <p>
    This is a <code>BETA</code> version of the MT Server Land software. &copy; DFKI GmbH 2010, all rights reserved.
  </p>
</div>
{% endblock %}