{% extends "base.html" %}

{% block head %}
<script type="text/javascript">

function confirm_delete(name, url) {
  check = confirm('Really delete "' + name + '"?');
  if (check) {
    location.href = url;
  }
}

</script>
{% endblock %}

{% block body %}

<div class="page-header">
  <h1>{{ user.username }}'s Dashboard <small>Manage your translation tasks</small></h1>
</div>

{% if messages %}
<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
{% for message in messages %}
  <strong>{{ message.tags|capfirst }}:</strong> {{ message }}<br/>
{% endfor %}
</div>
{% endif %}

<div id="instructions">
  
  <h2>User actions</h2>
  <p>You are logged in as <b>{{ user.username }}</b>. You can create a <a href="{% url create %}">new translation request</a> or sign out by <a href="{% url logout %}">clicking here</a>.</p>
  <br/>
  
  <h2>Finished translation requests</h2>
  {% if finished_requests %}
  <table class="table table-bordered table-striped">
  <thead>
  <tr>
  <th class="shortname" width="60%">Description</th>
  <th class="created" width="15%">Created</th>
  <th class="actions">Actions</th>
  </tr>
  </thead>
  <tbody>
  {% for request in finished_requests %}
  <tr>
  <td>{{ request.shortname }}</td>
  <td>{{ request.created|date:"Y/m/d" }}</td>
  <td>
    <a class="btn btn-mini btn-danger" href="javascript:confirm_delete('{{request.shortname|escapejs}}', '{% url delete request_id=request.request_id %}');"><i class="icon-remove icon-white"></i> Delete</a>
    <a class="btn btn-mini" href="{% url result request_id=request.request_id %}"><i class="icon-file"></i>Results</a>
    <a class="btn btn-mini" href="{% url download request_id=request.request_id %}"><i class="icon-download"></i>Download</a>
  </td>
  </tr>
  {% endfor %}
  </tbody>
  </table>
  {% else %}
  <div class="well well-small">
    There are no finished translation requests at the moment.
  </div>
  {% endif %}
  <br/>

  <h2>Active translation requests</h2>
  {% if active_requests %}
  <table class="table table-bordered table-striped">
  <thead>
  <tr>
  <th class="shortname" width="60%">Description</th>
  <th class="created" width="15%">Created</th>
  <th class="actions">Actions</th>
  </tr>
  </thead>
  <tbody>
  {% for request in active_requests %}
  <tr>
  <td>{{ request.shortname }}</td>
  <td>{{ request.created|date:"Y/m/d" }}</td>
  <td>
    <a class="btn btn-mini btn-danger" href="javascript:confirm_delete('{{request.shortname|escapejs}}', '{% url delete request_id=request.request_id %}');"><i class="icon-remove icon-white"></i> Delete</a>
  </td>
  </tr>
  {% endfor %}
  </tbody>
  </table>
  {% else %}
  <div class="well well-small">
    There are no active translation requests at the moment.
  </div>
  {% endif %}
  <br/>

  <h2>Invalid translation requests</h2>
  {% if invalid_requests %}
  <table class="table table-bordered table-striped">
  <thead>
  <tr>
  <th class="shortname" width="60%">Description</th>
  <th class="created" width="15%">Created</th>
  <th class="actions">Actions</th>
  </tr>
  </thead>
  </tbody>
  {% for request in invalid_requests %}
  <tr>
  <td>{{ request.shortname }}</td>
  <td>{{ request.created|date:"Y/m/d" }}</td>
  <td><a class="btn btn-mini btn-danger" href="javascript:confirm_delete('{{request.shortname|escapejs}}', '{% url delete request_id=request.request_id %}');"><i class="icon-remove icon-white"></i> Delete</a>
  </td>
  </tr>
  {% endfor %}
  </tbody>
  </table>
  {% else %}
  <div class="well well-small">
    There are no invalid translation requests at the moment.
  </div>
  {% endif %}
</div>
{% endblock %}