{% extends "base.html" %}

{% block body %}
<div id="summary">
  <h1>Welcome to MT Server Land!</h1>
  <h2>This is a first prototype version of DFKI's Multi-Server MT System...</h2>
</div>

<div id="instructions">
  <img src="{{PREFIX}}/site_media/cloud.png" style="float: right; padding-right: 20px;" />
  <p>This service allows users and external applications to make use of DFKI's machine translation (MT) technology to translate text between various languages. Think of it as a research version of similar services such as <a href="http://translate.google.com/">Google Translate</a> or <a href="http://www.microsofttranslator.com/">Microsoft Translator</a>...</p><br/>

  <p>Authenticated users may:</p>
  <ul>
    <li>Create new translation requests which are then dispatched to a suitable MT "worker" server.</li>
    <li>View or download finished translation results for their translation requests.</li>
    <li>Delete own translation requests once they are no longer needed.</li>
  </ul>
  <br/>
  {% if user.is_authenticated %}
  <p>You are logged in as <b>{{ user.username }}</b>. You can <a href="{{PREFIX}}/dashboard/">access your dashboard</a> or logout by <a href="{{PREFIX}}/logout/">clicking here</a>.</p>
  {% else %}
  <p>Please login to access your <a href="{{PREFIX}}/dashboard/">translation dashboard</a>.</p>
  {% endif %}
  <br/><br/><br/><br/><br/>
</div>

<div id="explanation">
  <p>
    This is a <code>BETA</code> version of the MT Server Land software. &copy; DFKI GmbH 2010, all rights reserved.
  </p>
</div>
{% endblock %}