{% extends "base.html" %}

{% block body %}
<div id="summary">
  <h1>Create Translation Request</h1>
  <h2>Prepare and submit a new translation request to the MT Server Land...</h2>
</div>

<div id="instructions">
  <img src="{{PREFIX}}/site_media/create.png" style="float: right; padding-right: 20px;" />
  
  <h2>User actions</h2>
  <p>You are logged in as <b>{{ user.username }}</b>. You can <a href="{{PREFIX}}/dashboard/">return to your dashboard</a> or logout by <a href="{{PREFIX}}/logout/">clicking here</a>.</p>
  <br/>

  <h2>Request Configuration</h2>
  {% if form %}
  <form method="post" action="" enctype="multipart/form-data">
  <table>
  {{form.as_table}}
  <tr><th></th><td><input type="submit" value="create" /></td></tr>
  </table>
  </form>
  {% else %}
  <p>The creation of new translation requests has currently been disabled. Please try again later.</p>
  {% endif %}
  <br/><br/><br/><br/><br/>
</div>

<div id="explanation">
  <p>
    This is a <code>BETA</code> version of the MT Server Land software. &copy; DFKI GmbH 2010, all rights reserved.
  </p>
</div>
{% endblock %}